* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
}

.form-container {
  max-width: 30%;
  margin: auto;
  margin-bottom: 20px;
  display: block;
}

.video-container {
  max-width: 100%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: block;
}

.input-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: block;
}

.input-type {
  font-family: "Roboto", sans-serif;
  width: 256px;
  height: 32px;
}

.submit-button {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  text-align: center;
  display: block;
  background-color: #ff8a5f;
  border: #ff8a5f;
  cursor: pointer;
  border-radius: 5px;
}

.button {
  width: 60%;
  height: 30px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  display: block;
  background-color: #ff8a5f;
  border: #ff8a5f;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link {
  display: inline-block;
  text-align: justify;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

header {
  display: inline;
  padding: 14px 16px;
}

#header-img {
  display: block;
  margin-left: 32px;
  height: 32px;
  
}

pre{
  font-weight: 900;
  font-size: larger;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-container > div {
  margin: 1%;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 4px;
}

.product-title {
  text-align: center;
  background-color: #cab3b7;
  font-weight: bold;
  height: 32px;
}

#features ul {
  list-style-type: none;
  text-align: center;
}

#features li{
  margin-top: 20px;
}

nav {
  background-color: #cab3b7;
  height: 64px;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  align-items: center;
}

header ul {
  list-style-type: none;
  float: right;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  background-color: #cab3b7;
}

header li {
  float: left;
}

header li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.how-it-works {
  display: block;
  /*max-width: 50%;*/
  margin-top: 100px;
  /*margin: auto;*/
}

.hiw-title {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.hiw-description {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
}

.wrapper {
  /*position: relative;*/
  padding-top: 100px;
  max-width: 50%;
  margin: auto;
}

.aux {
  text-align: center;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

p{
  text-align: center;
  margin: 0px 20px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 100%;
  }
}
